.ocr-output {
  flex: 1;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  min-width: 0;
  position: relative; /* relative로 설정하여 신뢰도를 absolute로 위치시킬 수 있게 함 */
}

.ocr-header {
  text-align: center; /* h2 태그를 가운데 정렬 */
  margin-bottom: 10px;
}

.confidence-display {
  position: absolute; /* 신뢰도를 오른쪽 끝에 배치 */
  right: 20px; /* 오른쪽 끝에서 10px 여백 */
  top: 35px; /* 수직으로 중앙 정렬 */
  transform: translateY(-50%); /* 정확한 중앙 정렬 */
  color: #007acc;
  margin-top: 0;
}

h2 {
  margin-top: 5px;
}

.output {
  text-align: left;
  overflow: auto;
  max-width: 97%;
  max-height: 360px;
  overflow-y: auto;

  /* 수평 중앙 정렬 */
  margin-left: auto;
  margin-right: auto;
}

.output-textarea {
  width: 95%;
  height: 400px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
