.ocr-output {
  flex: 1; /* 같은 너비를 갖도록 설정 */
  margin-left: 5px; /* 왼쪽 여백 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 5px; /* 모서리 둥글게 처리 */
  padding: 10px; /* 내부 여백 추가 */
  min-width: 0; /* 최소 너비를 0으로 설정하여 균형 유지 */
}
.output {
  margin-top: 10px;
  text-align: left;
  overflow: auto;
  max-width: 100%;
}

.output-textarea {
  width: 95%; /* 가로 크기 설정 */
  height: 400px; /* 원하는 높이 설정 */
  resize: none; /* 크기 조절 비활성화 */
  padding: 10px; /* 안쪽 여백 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 5px; /* 테두리 둥글게 설정 */
}
